body {
	background: #2cacf7; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #2cacf7, #1373ad); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #2cacf7, #1373ad); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #2cacf7, #1373ad); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #2cacf7, #1373ad); /* Standard syntax */
}

h1 {
	font-size: 250%;
	text-align: center;
	margin-top: 30px;
	font-family: 'Luckiest Guy', cursive;
}

.game_display {
	width: 40%;
	float: left;
	margin-top: 20px;
}

#user-text {
	text-transform: uppercase;
}

#already_guessed {
	text-transform: uppercase;
}

p {
	font-family: 'Luckiest Guy', cursive;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 100%;
	margin-left: 25px;
	text-align: left;
	text-align: center;
}

.info-display {
	float: left;
	margin-left: 45px;
	margin-top: 30px;
	width: 300px;
	height: 160px;
	background-image: url("../images/wood-website-sign.png");
	background-size: 100%;
	padding-top: 20px;
}

#mystery-word-display {
	text-transform: uppercase;
	font-size: 175%;
}

#disp-con {
	float: left;
	width: 300px;
	margin-top: 60px;
	font-size: 250%;
	padding-bottom: 100px;
	margin-bottom: 300px;
}

#key_cont {
	width: 80%;
	padding-bottom: 200px;
}

.keys {
	float: left;
}

/* This section of code is adapted from code created by Ted McDonald and provided under an MIT Creative Commons license. This section of code (lines 87-110) are also provided under a Creative Commons license. This license does not extend to other elements of the project, such as the tiki graphics which were commerically licensed and cannot be posted under an MIT license. */
	.ocean { 
	  height: 5%;
	  width:100%;
	  position:absolute;
	  bottom: 0;
	  left:0;
	  background: #08acdb;
	  z-index: -1;
	}

	.wave {
	  background: url(http://tedmcdo.com/labs/wave.svg) repeat-x; 
	  position: absolute;
	  top: -198px;
	  width: 6400px;
	  height: 198px;
	  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
	  transform: translate3d(0, 0, 0);
	  z-index: -1;
	}

	.wave:nth-of-type(2) {
	  top: -175px;
	  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
	  opacity: 1;
	  z-index: -1;
	}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@media screen and (min-width: 1024px) {
	p {
		font-size: 185%;
	}

	.info-display {
		margin-left: 85px;
		margin-top: 30px;
		width: 500px;
		height: 265px;
		padding-top: 25px;
	}

	.game_display {
		width: 30%;
		float: left;
		margin-top: 15px;
	}

	#disp-con {
		float: left;
		width: 300px;
		margin-top: 60px;
		font-size: 250%;
		padding-bottom: 100px;
		margin-left: 175px;
	}

}

@media screen and (min-width: 1280px) {
	.game_display {
		width: 20%;
		float: left;
		margin-top: 15px;
	}

	.info-display {
		margin-left: 250px;
		margin-top: 30px;
		width: 500px;
		height: 265px;
		padding-top: 25px;
	}

	#disp-con {
		float: left;
		width: 300px;
		margin-top: 60px;
		font-size: 250%;
		padding-bottom: 100px;
		margin-left: 350px;
	}

}